header {
  height: 100px;

  .title {
    text-align: center;
    font-size: 0;
    //margin: 20px 0;

    span {
      @include text-shadow($n-magenta);
      font-weight: 300;
      font-size: 64px;
      transition: all .1s ease-in-out;

      &:hover {
        cursor: pointer;
        color: #222;
        text-shadow: none;
      }
    }
  }
}
